<template name="ipsumItem">

	<div class="posts">
		<h1 class="content-subhead">{{description}}</h1>

		 
		<section class="post">
			<header class="post-header">
				<!-- <img class="post-avatar" alt="{{author}} avatar" height="48" width="48" src="avatar.png"> -->

				<h2 class="post-title">
					{{title}}
				</h2>

				<p class="post-meta">
					An ipsum by <a href="{{pathFor 'ipsumPage'}}">{{author}}</a>
				</p>
			</header>

			<div class="post-description" id="ipsum-{{id}}">
				<p>
					{{exampleIpsum}}
				</p>
				<a href="{{pathFor 'ipsumPage'}}">Generate More...</a>
			</div>
		</section>
	</div>
</template>
