<template name="ipsumSubmit">

    <div id="createNewIpsum">

        <div class="posts">
            <section class="post">
                <header class="post-header">

                    <h2 class="post-title">
                        Create A New Ipsum
                    </h2>

                </header>

                <div class="post-description">

                    <form class="pure-form pure-form-aligned">
                        <fieldset>

                             <div class="pure-control-group">
                                <label for="paragraphs">Title:</label>
                                <input type="number" class="pure-input-1-2" id="ipsumTitle" name="title" placeholder="Name your ipsum">
                            </div>

                            <div class="pure-control-group">
                                <label for="paragraphs">Author:</label>
                                <input type="number" class="pure-input-1-2" id="ipsumAuthor" name="author" placeholder="Your name">
                            </div>

                             <div class="pure-control-group">
                                <label for="paragraphs">Describe your Ipsum:</label>
                                <textarea class="pure-input-1-2" rows="2" id="ipsumDescription" name="description" placeholder="Briefly tell us about your new Ipsum"></textarea>
                            </div>

                            <div class="pure-control-group">
                                <label for="paragraphs">Ipsum Word List:</label>
                                <textarea class="pure-input-1-2" rows="4"  id="ipsumWordlist" name="wordList" placeholder="List any number of words or phrases here which will make up your Ipsum. Make sure to seperate each word or phrase with a comma."></textarea>
                            </div>

                            

                            <div class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary">Create New Ipsum</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </section>
        </div>
    
    </div>
</template>