<template name="ipsumPage">
	<div id="ipsumGenerator">

		<div class="posts">
			<h1 class="content-subhead">{{description}}</h1>

			 
			<section class="post">
				<header class="post-header">
					<!-- <img class="post-avatar" alt="{{author}} avatar" height="48" width="48" src="avatar.png"> -->

					<h2 class="post-title">
						{{title}}
					</h2>

					<p class="post-meta">
						An ipsum by <a href="{{pathFor 'ipsumPage'}}">{{author}}</a>
					</p>
				</header>

				<div class="post-description">

					<form class="pure-form pure-form-aligned">
						<fieldset>

							 <div class="pure-control-group">
								<label for="paragraphs">Number of paragraphs:</label>
								<input type="number" class="pure-input-1-1" name="paragraphs" id="numberParagraphs" value="5">
							</div>

							<div class="pure-control-group">
								<label for="paragraphFlavour">Paragraph flavour:</label>
								<select class="form-control" id="paragraphFlavour" name="contentStyle">
									<option value="latin">Theme w/Latin</option>
									<option value="theme">Themed Words Only</option>
								</select>
							</div>

							<div class="pure-controls">
								<button type="submit" class="pure-button pure-button-primary">Generate New Paragraphs</button>
							</div>
						</fieldset>
					</form>

				</div>

				<div id="ipsum-canvas">
					<h1></h1>
					<div clas="innerCanvas"></div>
				</div>

			</section>
		</div>
	</div>
</template>